@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: skyblue;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 50%;
    margin: 10% auto;
    background-color: #ffffff;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

h1, h2 {
    text-align: center;
    font-weight: lighter;
}

h2 {
    font-size: 2em;
}

#player1, #player2 {
    width: 50%;
    padding: 110px 40px 50px 40px;
}

.active {
    background-color: #efefef;
}

.active img {
    width: 32px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

h2 {
     position: relative;
}

p {
    text-align: center;
    margin-bottom: 0;
}

#player1>p, #player2>p {
    font-size: 4em;
    margin: 0;
}

.current {
    text-align: center;
    background-color: #ff4c4c;
    width: 40%;
    margin: 70px auto 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
}

#roll-dice, #hold {
    position: absolute;
    left: 50%;
    cursor: pointer;
    font-size: 1.2em;
}

#roll-dice {
    bottom: 90px;
    transform: translateX(-50%);
}

#hold {
    bottom: 120px;
    transform: translateX(-50%);
}

i {
    margin-right: 10px;
    color: #ff4c4c;
}

#roll-dice i, #hold i{
    font-size: 1em;
}

#diceImg {
    width: 100px;
    position: absolute;
    top: 10%;
    left: 10%;
}